<nav class="navbar navbar-default fit">
    <div class="container-fluid d-flex align-items-center justify-content-start">
        <a class="navbar-brand" style="margin-left: 3%;" href="#"><img src="\assets\img\MenuBatton.png"></a>

        <span class="navbar-text fw-bolder main-text-size mb-0" style="margin-left: 1.5%;">1:21</span>
        <span class="navbar-text fw-bolder fs-6 ml-auto" style="margin-bottom: 2%;">PM</span>
        
        <span class="navbar-text fw-bolder fs-4" style="margin-left: 0.5%; margin-bottom: 1%;">Sun</span>
        <span class="navbar-text fw-normal fs-4 mt-2" style="margin-left: -2.9%; margin-bottom: -1.5%;">Mar 13</span>

        <span class="navbar-text fw-bolder main-text-size" style="margin-top: -7%; margin-left: 91.5%;">14</span>
        <span class="navbar-text fw-bolder" style="margin-top: -8%; margin-left: 0.5%;">°C</span>
    </div>
</nav>