<div class="container-fluid">
    <div class="row ">
    
        <div class="col rounded-3 shadow-col big-col-1">
            <div class="row">

                <div class="col" style="margin-top: 25px;">
                    <img src="\assets\img\lamp_icon.png" style="margin-left: 10px; margin-top: -5px;">
                    <span class="header-block-text fw-bolder fs-4" style="margin-left: 10px;">Gas usage</span>
                </div>

                <div class="col" style="margin-top: 25px;">
                    <a class="nav-link dropdown-toggle btn btn-outline-success custom-btn"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        type="submit"
                        aria-expanded="false">
                        Monthly
                    </a>
                </div>

                <div class="col-4" style=" width: 6%; margin-top: 25px; margin-bottom: 15px;">
                    <img src="\assets\img\other_btn.png" style="margin-top: 8px;">       
                </div>
            </div>

            <div style="margin-top: 10px;"><img src="\assets\img\elipse_tag_green.png" style="margin-left: 6%; margin-top: -0.5%;">
                <span style=" color: #b5bfcd; margin-left: 1.5%;">Target amount</span>
                <img src="\assets\img\elipse_tag_blue.png" style="margin-left: 4%; margin-top: -0.5%;">
                <span style=" color: #b5bfcd; margin-left: 1.5%;">Current usage</span>
            </div>

            <p style="margin-top: 1%;">
                <img src="\assets\img\calendar_icon.png" style="margin-left: 6.5%; margin-top: -0.5%;">
                <span class="fs-7" style=" color: #b5bfcd; margin-left: 1.5%;">Monthly</span>
                <span class="fw-bolder" style="color: #b5bfcd; margin-left: 3%;">41.6</span>
                <span style="color: #b5bfcd;">litre</span>
                <img src="\assets\img\cost_icon.png" style="margin-left: 35%;">
                <span style="color: #b5bfcd; margin-left: 1%;">Total</span>
                <span style="color: #b5bfcd; margin-left: 1.5%;">£</span>
                <span class="fw-bolder" style=" color: #b5bfcd;">41.6</span>
            </p>

            <div class="row wow fadeIn">
                <div class="col-md-9 mb-4">
                    <div class="card" style="width: 650px; height: 300px; margin-top: 20px; margin-left: 12px;">
                        <div class="card-body">
                            <canvas id="Chart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      
        <!-- Big col 2 -->
        <div class="col rounded-3 shadow-col big-col-2">
            <div class="row">

                <div class="col" style="margin-top: 25px;">
                    <img src="\assets\img\lamp_icon.png" style="margin-left: 10px; margin-top: -5px;">
                    <span class="header-block-text fw-bolder fs-4" style="margin-left: 10px;">Electric usage</span>
                </div>

                <div class="col" style="margin-top: 25px;">
                    <a class="nav-link dropdown-toggle btn btn-outline-success custom-btn"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        type="submit"
                        aria-expanded="false">
                        Today
                    </a>
                </div>

                <div class="col-4" style="width: 6%; margin-top: 25px; margin-bottom: 15px;">
                    <img src="\assets\img\other_btn.png" style="margin-top: 8px;">       
                </div>

            </div>

            <div style="margin-top: 10px;">
                <img src="\assets\img\elipse_tag_green.png" style="margin-left: 6%; margin-top: -0.5%;">
                <span style="color: #b5bfcd; margin-left: 1.5%;">Target amount</span>
                <img src="\assets\img\elipse_tag_blue.png" style="margin-left: 4%; margin-top: -0.5%;">
                <span style="color: #b5bfcd; margin-left: 1.5%;">Current usage</span>
            </div>

            <div style="margin-top: 1%;">
                <img src="\assets\img\calendar_icon.png" style="margin-left: 6.5%; margin-top: -0.5%;">
                <span class="fs-7" style="color: #b5bfcd; margin-left: 1.5%;">Monthly</span>
                <span class="fw-bolder" style="color: #b5bfcd; margin-left: 3%;">157</span>
                <span style="color: #b5bfcd;">kWh</span>
                <img src="\assets\img\cost_icon.png" style="margin-left: 35%;">
                <span style="color: #b5bfcd; margin-left: 1%;">Total</span>
                <span style="color: #b5bfcd; margin-left: 1.5%;">£</span>
                <span class="fw-bolder" style="color: #b5bfcd;">95</span>
            </div>

            <div class="row wow fadeIn">
                <div class="col-md-9 mb-4">
                    <div class="card" style="width: 650px; height: 300px; margin-top: 20px; margin-left: 12px;">
                        <div class="card-body">
                            <canvas id="Chart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
