<!-- <div class="col-3 rounded-3 small-cols shadow-col-2" style="margin-left: 2%;">
    <p class="header-text-row-2 fw-bolder">Messages</p>
    <img src="\assets\img\letter_icon.png" style="margin-top: -82px; margin-left: 15px;">
    <a class="nav-link other-btn" href="#"><img src="\assets\img\other_btn.png"></a>
    <div class="container">
      
      <div class="row">
        <div class="col rounded-3 shadow-col bg-body-tertiary rounded" style="background-color: #ffffff; width: 240px; height: 55px; margin-top: 10px;">
        <p style="font-size: 1rem; color: #78859a; margin-top: 5px; font-weight: 600;">Too cultivated use solicitude</p>
        <p class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-top: -20px;">March 5,
          <span style="font-size: 0.9rem; color: #b5bfcd; font-weight: 600;"> 08.35 PM</span></p>
        <a class="nav-link btn" href="#" style="width: 30px; height: 30px; margin-top: -50px; margin-left: 240px;">
          <img src="\assets\img\arrow_btn.png" style="margin-left: -8px;margin-bottom: 15px;"></a>
        </div>
      </div>

      <div class="row">
        <div class="col rounded-3 shadow-col bg-body-tertiary rounded" style="background-color: #ffffff; width: 240px; height: 55px; margin-top: 10px;">
        <p style="font-size: 1rem; color: #78859a; margin-top: 5px; font-weight: 600;">Barton did feebly change man</p>
        <p class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-top: -20px;">March 4,
          <span style="font-size: 0.9rem; color: #b5bfcd; font-weight: 600;"> 02.30 AM</span></p>
        <a class="nav-link btn" href="#" style="width: 30px; height: 30px; margin-top: -50px; margin-left: 240px;">
          <img src="\assets\img\arrow_btn.png" style="margin-left: -8px;margin-bottom: 15px;"></a>
        </div>
      </div>

      <div class="row">
        <div class="col rounded-3 shadow-col bg-body-tertiary rounded" style="background-color: #ffffff; width: 240px; height: 55px; margin-top: 10px;">
        <p style="font-size: 1rem; color: #78859a; margin-top: 5px; font-weight: 600;">Indulgence ten remarkably</p>
        <p class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-top: -20px;">March 2,
          <span style="font-size: 0.9rem; color: #b5bfcd; font-weight: 600;"> 11.20 AM</span></p>
        <a class="nav-link btn" href="#" style="width: 30px; height: 30px; margin-top: -50px; margin-left: 240px;">
          <img src="\assets\img\arrow_btn.png" style="margin-left: -8px;margin-bottom: 15px;"></a>
        </div>
      </div>

    </div>
</div> -->
