.header-text-row-2{
    color: #53c5e9;
    margin-left: 18%;
    margin-top: 50px;
  }

.small-cols{
    background-color: #ffffff;
    width: 340px;
    height: 280px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .shadow-col{
    box-shadow: -5px 10px 10px #e3f6fc, 5px 0px 10px #e3f6fc;
  }

  ///
  /// 
  
