<div class="container-fluid  justify-content-centre align-items-center">
    <div class="row">

      <div class="col-3 rounded-3 small-cols shadow-col" style="margin-left: 3%;">
          <p class="header-text-row-2 fw-bolder">Messages</p>
          <img class="small-cols-main-icon" src="\assets\img\letter_icon.png">
          <a class="nav-link other-btn" href="#"><img src="\assets\img\other_btn.png"></a>
          <div class="container">
            
            <div class="row" style="margin-top: 8%;">
              <div class="col rounded-3 shadow-col bg-body-tertiary rounded message-block">
              <p class="message-text-bold-1">Too cultivated use solicitude</p>
              <p class="fw-normal message-text-bold-3">March 5,
                <span class="message-text-bold-2"> 08.35 PM</span></p>
              <a class="nav-link btn arrow-message-button" href="#">
                <img src="\assets\img\arrow_btn.png"></a>
              </div>
            </div>

            <div class="row">
              <div class="col rounded-3 shadow-col bg-body-tertiary rounded message-block">
              <p class="message-text-bold-1">Barton did feebly change man</p>
              <p class="fw-normal message-text-bold-3">March 4,
                <span class="message-text-bold-2"> 02.30 AM</span></p>
              <a class="nav-link btn arrow-message-button" href="#">
                <img src="\assets\img\arrow_btn.png"></a>
              </div>
            </div>

            <div class="row">
              <div class="col rounded-3 shadow-col bg-body-tertiary rounded message-block">
              <p class="message-text-bold-1">Indulgence ten remarkably</p>
              <p class="fw-normal message-text-bold-3">March 2,
                <span class="message-text-bold-2"> 11.20 AM</span></p>
              <a class="nav-link btn arrow-message-button" href="#">
                <img src="\assets\img\arrow_btn.png"></a>
              </div>
            </div>

          </div>
      </div>

      <div class="col-3 rounded-3 small-cols shadow-col">
        <p class="header-text-row-2 fw-bolder">Tariff</p>
        <img class="small-cols-main-icon" src="\assets\img\tariff_icon.png">
        <a class="nav-link other-btn" href="#"><img src="\assets\img\other_btn.png"></a>
        <p class="semi-title">Current Quarter (Dec-Mar)</p>
        <div class="container" style="margin-left: 3%;">
          <div class="row">
            <div class="col custom-border" style="width: 110px;">
              <p class="fs-2 fw-bolder" style="color: #78849a; margin-left: -12px;">£6500</p>
              <img style="margin-left: -10px; margin-top: -48px;" src="\assets\img\arrow-up-icon.png">
              <p class="fs-5 fw-bolder" style="color: #53c5e9; margin-left: 10px; margin-top: -50px;">£250</p>
              <p class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-top: 20px; margin-left: -5px;">Jan 1
                <span class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-left: 35px; margin-top: 20px;">Mar 31</span>
              </p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col" style="width: 110px;">
              <div style="margin-left: 10px;"><svg width="110" height="110" viewBox="-15 -15 150 150" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                <circle r="50" cx="60" cy="60" fill="transparent" stroke="#e0e0e0" stroke-width="10" stroke-dasharray="314px" stroke-dashoffset="0"></circle>
                <circle r="50" cx="60" cy="60" stroke="#65cee1" stroke-width="10" stroke-linecap="butt" stroke-dashoffset="75px" fill="transparent" stroke-dasharray="314px"></circle>
                <text x="39px" y="63px" fill="#78849a" font-size="35px" font-weight="bold" style="transform:rotate(90deg) translate(0px, -116px)">76</text>
                <text x="39px" y="83px" fill="#78849a" font-size="20px" style="transform:rotate(90deg) translate(0px, -116px)">days</text>
              </svg></div>
    
              <p class="fw-normal" style="font-size: 0.9rem; color: #b5bfcd; margin-top: 10px;">Until End of March</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3 rounded-3 small-cols shadow-col" style="margin-left: 10px;">
        <p class="header-text-row-2 fw-bolder">Account</p>
        <img class="small-cols-main-icon" src="\assets\img\account_icon.png">
        <a class="nav-link other-btn" href="#"><img src="\assets\img\other_btn.png"></a>

        <div><p class="semi-title" style="margin-bottom: -1%;">Current</p>
        <span class="semi-title">Balance</span></div>

        <img class="progress-bar-tariff" src="\assets\img\progress-bar-account.png">

        <!-- <div class="circle-progress">
          <div class="barOverflow">
            <div class="bar"></div>
          </div>
          <span style="margin-left: -23px;">56.5</span>%
        </div> -->

      </div>

      <div class="col-3 rounded-3 small-cols shadow-col">
        <p class="header-text-row-2 fw-bolder">Settings</p>
        <img src="\assets\img\settings_icon.png" style="margin-top: -82px; margin-left: 15px;">
        <a class="nav-link other-btn" href="#"><img src="\assets\img\other_btn.png"></a>
        <div class="container" style="margin-top: 10%;">

          <div class="row">
            <div class="col" style=" margin-top: 20px;">
              <p style="font-size: 0.9rem; color: #78849a; margin-bottom: 20px; margin-left: -5px; font-weight: 600;">Screen brightness</p>
            </div>
            <div class="col" style="  margin-top: 10px;">
              <div class="slidecontainer" style="margin-top: 10%;">
                <input type="range" min="1" max="100" value="60" class="slider" id="myRange">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p style="font-size: 0.9rem; color: #78849a; margin-left: -5px; margin-bottom: 20px; font-weight: 600;">Sound Volume</p>
            </div>
            <div class="col">
              <div class="slidecontainer" style="margin-top: 3%;">
                <input type="range" min="1" max="100" value="40" class="slider" id="myRange">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p style="font-size: 0.9rem; color: #78849a; margin-bottom: 20px; margin-left: -5px; font-weight: 600;">Currency</p>
            </div>
            <div class="col" style="margin-top: -2%; margin-right: 23%;">
                <a class="nav-link dropdown-toggle btn btn-outline-success custom-btn"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    type="submit"
                    aria-expanded="false">
                    Euro
                </a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p style="font-size: 0.9rem; color: #78849a; margin-left: -5px; font-weight: 600;">Weather</p>
            </div>
            <div class="col" style=" margin-left: 48%;">
              <label class="switch" aria-checked="true">
                <input style="margin-left: 5px;" type="checkbox" checked >
                <span class="myslider round" ></span>
              </label>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
